#home {
    background: rgb(245, 243, 243);
    width: auto;
    height: auto;
    padding-top: 60px;
    padding-left: 4%;
    padding-right: 4%;
}

.avatar {
    vertical-align: middle;
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.column {
    float: left;
    padding: 20px;
}

.column.sideleft {
    width: 30%;
    text-align: center;
}

.column.sideright {
    width: 70%;
}

.row_:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1100px) {

    .column.sideleft,
    .column.sideright {
        width: 100%;
    }
}

ul.no-bullets {
    list-style-type: none;
}

ul.no-bullets_school {
    list-style-type: none;
    padding-left: 1%;
}

#publications {
    padding-left: 10%;
    padding-top: 18px;
    width: auto;
    height: auto;
}

.tag {
    font-size: 18px;
    background-color: #63666378;
    font-weight: bold;
}

#experience {
    padding-left: 10%;
    padding-top: 12px;
    width: auto;
    height: auto;
}

.box {
    display: flex;
    align-items: center;
}

.div1 {
    display: flex;
    align-items: center;
}

.div2 {
    float: left;
    vertical-align: 30;
}

#projects {
    padding-left: 10%;
    padding-top: 12px;
    width: auto;
    height: auto;
}

#interests {
    padding-left: 10%;
    padding-top: 12px;
    width: auto;
    height: auto;
}

#contact {
    padding-top: 18px;
    width: auto;
    height: auto;
}

#abstract {
    border-style: solid;
    border-color: rgb(207, 204, 204);
    width: 85%;
    padding: 1%;
    border-radius: 6pt;
    display: block;
}
